<% @page_title = "Create Test"%>
<div class="center page-header">
  <h2>Edit Test</h2>
</div>
	<%= form_for(@question,:url=> question_path(@question),:method => 'patch', :html => {:class => 'form-horizontal', :role => 'form'}) do |f| %>
    <<%= render(:partial => 'form', :locals => {:f => f}) %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "OK",class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
	<% end %>

