<div class="well">
	<p>Please read the instructions carefully before starting test:</p>
	<p><ul><li><strong>Once you click the 'Start test' button, you will have 20 minutes to answer the questions.</strong></li></p>
	<p><li><strong>Each question will have multiple choices.</strong></li></p>
	<p><li><strong>After the time for test expires or after you have attempted all questions, you will be logged out of the system.</strong></li></p>
	<p><li><strong>Please do not refresh the page while taking test, if you do refresh, you will not be rewarded any marks for the question. </strong></li></p>
	<p><li><strong>The test results will be announced offline by the System Administrator.</strong></li></ul></p>
	<%= link_to("Start test", exams_path, :class => 'btn btn-primary btn-lg') %>
</div>
